{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <style>
        body {
            background-image:url('https://preview.redd.it/rhllnippznm31.png?auto=webp&s=498aa85c6f114f18d130a960b8f05f280ad8b881')
        }
    </style>
    <h1 style="color: rgb(255, 255, 255);">{{ post.title }}</h1>
    <small style="color: rgb(255, 255, 255);">
        {{ post.created_on.date }} |&nbsp;
        Kategorija:&nbsp;
        {% for category in post.categories.all %}
        <a style="color: rgb(255, 255, 255);" href="{% url 'blog_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <h2 style="color: rgb(255, 255, 255);">{{ post.body | linebreaks }}</h2>
    <h3 style="color: rgb(255, 255, 255);">Ostavite komentar:</h3>
    <form style="color: rgb(255, 255, 255);" action="/blog/{{ post.pk }}/" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.author }}
        </div>
        <div class="form-group">
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">Posalji</button>
    </form>
    <h3 style="color: rgb(255, 255, 255);">Komentari:</h3>
    {% for comment in comments %}
    <p style="color: rgb(255, 255, 255);">
        Na {{comment.created_on.date }}&nbsp;
        <b>{{ comment.author }}</b> Napisao:
    </p>
    <p style="color: rgb(255, 255, 255);">{{ comment.body }}</p>
    <hr>
    {% endfor %}
</div>
{% endblock %}