{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">

    <style>
        body {
            background-image:url('https://preview.redd.it/rhllnippznm31.png?auto=webp&s=498aa85c6f114f18d130a960b8f05f280ad8b881')
        }
    </style>
    <h1 style="color: rgb(255, 255, 255);">SGI Gaming Blog</h1>
    <hr>
    {% for post in posts %}
    <h2 ><a style="color: rgb(255, 255, 255);" href="{% url 'blog_detail' post.pk%}">{{ post.title }}</a></h2>
    <small style="color: rgb(255, 255, 255);">
        {{ post.created_on.date }} |&nbsp;
        Kategorija:&nbsp;
        {% for category in post.categories.all %}
        <a style="color: rgb(255, 255, 255);" href="{% url 'blog_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <p style="color: rgb(255, 255, 255);">{{ post.body | slice:":400" }}...</p>
    {% endfor %}
</div>
{% endblock %}