{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>SGI Gaming</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Travello template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
<link href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.theme.default.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/animate.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">
</head>
<body>

<div class="super_container">
	
	<!-- Header -->

	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_content d-flex flex-row align-items-center justify-content-start">
						<div class="header_content_inner d-flex flex-row align-items-end justify-content-start">
							<div class="logo"><a href="index.html">SGI Gaming</a></div>
							<nav class="main_nav">
								<ul class="d-flex flex-row align-items-start justify-content-start">
									<li class="active"><a href="#">Home</a></li>
									<li><a href="blog">Blog</a></li>
									{% if user.is_authenticated %}
									<li>Pozdrav, {{user.first_name}}</li>
									<li><a href="akauntovi/logout">Logout</a></li>
									
									{% else %}
									<li><a href="akauntovi/registracija">Registracija</a></li>
									<li><a href="akauntovi/login">Login</a></li>
									{% endif %}
								</ul>
							</nav>
							<div class="header_phone ml-auto">Kontakt: 066/58-00-140</div>

							<!-- Hamburger -->

							<div class="hamburger ml-auto">
								<i class="fa fa-bars" aria-hidden="true"></i>
							</div>

						</div>
					</div>
				</div>
			</div>
	</header>

	<!-- Menu -->

	<div class="menu">
		<div class="menu_header d-flex flex-row align-items-center justify-content-start">
			<div class="menu_logo"><a href="index.html">SGI Gaming</a></div>
			<div class="menu_close_container ml-auto"><div class="menu_close"><div></div><div></div></div></div>
		</div>
		<div class="menu_content">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="akauntovi/registracija">Registracija</a></li>
				<li><a href="akauntovi/login">Login</a></li>
			</ul>
		</div>
		<div class="menu_social">
			<div class="menu_phone ml-auto">Kontakt: 066/58-00-140</div>
			<ul class="d-flex flex-row align-items-start justify-content-start">
				<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
			</ul>
		</div>
	</div>
	
	<!-- Home -->

	<div class="home">
		
		<!-- Home Slider -->
		<div class="home_slider_container">
			<div class="owl-carousel owl-theme home_slider">
				
				<!-- Slide -->
				<div class="owl-item">
					<div class="background_image" style="background-image:url(static/images/CrKUHw.jpg)"></div>
					<div class="home_slider_content_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_slider_content">
										<div class="home_title"><h2>Dobrodošli u svet igrica</h2></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slide -->
				<div class="owl-item">
					<div class="background_image" style="background-image:url(static/images/CrKUHw.jpg)"></div>
					<div class="home_slider_content_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_slider_content">
										<div class="home_title"><h2>Najbolji sajt za preprodaju</h2></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slide -->
				<div class="owl-item">
					<div class="background_image" style="background-image:url(static/images/CrKUHw.jpg)"></div>
					<div class="home_slider_content_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_slider_content">
										<div class="home_title"><h2>Sve sto zelite i vise</h2></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="home_page_nav">
				<ul class="d-flex flex-column align-items-end justify-content-end">
					<li><a href="#" data-scroll-to="#destinations">Ponude<span>01</span></a></li>
					<li><a href="#" data-scroll-to="#testimonials">Recenzije korisnika<span>02</span></a></li>
					<li><a href="#" data-scroll-to="#news">Blog<span>03</span></a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Search -->

	<div class="home_search">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_search_container">
						<div class="home_search_title">Potražite željenu igricu</div>
						<div class="home_search_content">
							<form action="#" class="home_search_form" id="home_search_form">
								<div class="d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
									<input type="text" class="search_input search_input_1" placeholder="Žanr" required="required">
									<input type="text" class="search_input search_input_2" placeholder="Platforma" required="required">
									<input type="text" class="search_input search_input_3" placeholder="Arrival" required="required">
									<input type="text" class="search_input search_input_4" placeholder="Budget" required="required">
									<button class="home_search_button">Traži</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Intro -->

	<div class="intro">
		<div class="intro_background" style="background-image:url(static/images/intro1.png)"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="intro_container">
						<div class="row">

							<!-- Intro Item -->
							<div class="col-lg-4 intro_col">
								<div class="intro_item d-flex flex-row align-items-end justify-content-start">
									<div class="intro_icon"><img src="{% static 'images/joystick.svg' %}" alt=""></div>
									<div class="intro_content">
										<div class="intro_title">Top Igrica</div>
										<div class="intro_subtitle"><p>Izbor koji ne može da se prevaziđe.</p></div>
									</div>
								</div>
							</div>

							<!-- Intro Item -->
							<div class="col-lg-4 intro_col">
								<div class="intro_item d-flex flex-row align-items-end justify-content-start">
									<div class="intro_icon"><img src="{% static 'images/console.svg' %}" alt=""></div>
									<div class="intro_content">
										<div class="intro_title">Za sve moguće platforme</div>
										<div class="intro_subtitle"><p>Igrice za vaš ukus platforma.</p></div>
									</div>
								</div>
							</div>

							<!-- Intro Item -->
							<div class="col-lg-4 intro_col">
								<div class="intro_item d-flex flex-row align-items-end justify-content-start">
									<div class="intro_icon"><img src="{% static 'images/sales.svg' %}" alt=""></div>
									<div class="intro_content">
										<div class="intro_title">Najbolje cene</div>
										<div class="intro_subtitle"><p>Za svaku novčanu kategoriju</p></div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>		
			</div>
		</div>
	</div>

	<!-- Destinations -->

	<div class="destinations" id="destinations">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_subtitle">SGI Gaming</div>
					<div class="section_title"><h2>Popularne igrice</h2></div>
				</div>
			</div>
			<div class="row destinations_row">
				<div class="col">
					<div class="destinations_container item_grid">
						{% for dest in dests %}
						<!-- Destination -->
						<div class="destination item">
							<div class="destination_image">
								<img src= "{{dest.slika.url}}" alt="">

								{% if dest.ponuda%}
								<div class="spec_offer text-center"><a href="#">Specijalna ponuda</a></div>
								{% endif %}
								
							</div>
							<div class="destination_content">
								<div class="destination_title"><a href="destinations.html">{{dest.ime}}</a></div>
								<div class="destination_subtitle"><p>{{dest.desk}}</p></div>
								<div class="destination_price">Cena: {{dest.cena}} din</div>
							</div>
						</div>

						{% endfor %}

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Testimonials -->

	<div class="testimonials" id="testimonials">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/testimonialss.jpg' %}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_subtitle">SGI Gaming</div>
					<div class="section_title"><h2>Recenzije korisnika</h2></div>
				</div>
			</div>
			<div class="row testimonials_row">
				<div class="col">

					<!-- Testimonials Slider -->
					<div class="testimonials_slider_container">
						<div class="owl-carousel owl-theme testimonials_slider">
							
							<!-- Slide -->
							<div class="owl-item text-center">
								<div class="testimonial">Brzo i jednostavno</div>
								<div class="testimonial_author">
									<div class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
										<div>Lazar Nikolić,</div>
										<div>Korisnik</div>
									</div>
								</div>
							</div>

							<!-- Slide -->
							<div class="owl-item text-center">
								<div class="testimonial">Najbolji u gradu</div>
								<div class="testimonial_author">
									<div class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
										<div>David Badžikić,</div>
										<div>Klijent</div>
									</div>
								</div>
							</div>

							<!-- Slide -->
							<div class="owl-item text-center">
								<div class="testimonial">Kvalitet pre svega</div>
								<div class="testimonial_author">
									<div class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
										<div>Stefan Marković,</div>
										<div>Klijent</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- News -->

	<div class="news" id="news">
		<div class="container">
			<div class="row">
				<div class="col-xl-8">
					<div class="news_container">
						
						<!-- News Post -->
						<div class="news_post d-flex flex-md-row flex-column align-items-start justify-content-start">
							<div class="news_post_image"><img src="{% static 'images/pubg.jpg' %}" alt=""></div>
							<div class="news_post_content">
								<div class="news_post_date d-flex flex-row align-items-end justify-content-start">
									<div>16</div>
									<div>Jul</div>
								</div>
								<div class="news_post_title"><a href="#">Epidemija Battle Royale igara
								</a></div>
								<div class="news_post_category">
									<ul>
										<li><a href="#">Gaming</a></li>
									</ul>
								</div>
								<div class="news_post_text">
									<p>Došlo je do te tačke da i ja na kraju raspalim priču o ovoj temi. Neizbežan ishod nažalost, 
										s obzirom da je Battle Royale žanr doživeo uspon do takvih visina da više ne znam da li da plačem il’ da se smejem. 
										Elem – šta je battle royale? Dođe neki nasumičan broj ljudi, uglavnom je to 100, skoči lepo na jedno ostrvce/mapu i 
										mlate se među sobom svako za sebe. Naravno, imate i modove u većini igara iz žanra gde možete igrati u timovima do 4 igrača. 
										Ovo je bilo, naravno, jedno obligatorno objašnjenje, ali verovatno i nepotrebno s obzirom da danas i ptice na grani znaju šta je battle royale.</p>
								</div>
							</div>
						</div>

						<!-- News Post -->
						<div class="news_post d-flex flex-md-row flex-column align-items-start justify-content-start">
							<div class="news_post_image"><img src="{% static 'images/titanfall.jpg' %}" alt=""></div>
							<div class="news_post_content">
								<div class="news_post_date d-flex flex-row align-items-end justify-content-start">
									<div>16</div>
									<div>Jun</div>
								</div>
								<div class="news_post_title"><a href="#">FPS naslovi koji nisu izašli za PC, a voleli bismo da jesu</a></div>
								<div class="news_post_category">
									<ul>
										<li><a href="#">Gaming</a></li>
									</ul>
								</div>
								<div class="news_post_text">
									<p>Poprilično veliki broj ekskluzivnih pucačina iz prvog lica video je PS2, a valjalo bi izdvojiti igre kao što su Black, 
										kratkotrajan ali ubitačno dobar shooter; Killzone, Sonyjev uspešan izlet u FPS žanr, a tu su i Call of Duty 3 i Far Cry Instics 
										kao primeri dobrih portova sa PC-a. Naravno, neizostavan deo PS3 paketa jeste Resistance serijal, koji je beležio uspone i padove, 
										ali je bez sumnje vrlo značajan za Sonijevu konzolu.</p>
								</div>
							</div>
						</div>

						<!-- News Post -->
						<div class="news_post d-flex flex-md-row flex-column align-items-start justify-content-start">
							<div class="news_post_image"><img src="{% static 'images/until_dawn_games.jpg' %}" alt=""></div>
							<div class="news_post_content">
								<div class="news_post_date d-flex flex-row align-items-end justify-content-start">
									<div>29</div>
									<div>may</div>
								</div>
								<div class="news_post_title"><a href="#">Strašne, najstrašnije igre</a></div>
								<div class="news_post_category">
									<ul>
										<li><a href="#">Gaming</a></li>
									</ul>
								</div>
								<div class="news_post_text">
									<p>Noć veštica nam se bliži, a to je doba godine kad svako od nas barem na jedno veče može
										 da bude svoj omiljeni lik iz video igrice, filma ili serije. Dok uzbuđeno čekamo 31. oktobar,
										  bilo bi dobro da se u duhu ovog praznika podsetimo na najstrašnije igre svih vremena,
										   i zašto su ostavile utisak na nas. 1) Silent Hill 2 (2001), 2) F.E.A.R. (2005), 3) Amnesia : The Dark Descent (2010)

										</p>
								</div>
							</div>
						</div>

					</div>
				</div>

				<!-- News Sidebar -->
				<div class="col-xl-4">
					<div class="travello">
						<div class="background_image" style="background-image:url(static/images/sgi.png)"></div>
						<div class="travello_content">
							<div class="travello_content_inner">
								<div></div>
								<div></div>
							</div>
						</div>
						<div class="travello_container">
							<a href="#">
								<div class="d-flex flex-column align-items-center justify-content-end">
									<span class="travello_title">20% Popusta </span>
									<span class="travello_subtitle">Kupite po Vašoj želji</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->

	<footer class="footer">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/footer.jpg' %}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="newsletter">
						<div class="newsletter_title_container text-center">
							<div class="newsletter_title">Pretplatite se na naš newsletter da biste dobili najnovije trendove i vesti
							</div>
							<div class="newsletter_subtitle">Dobrodošli u SGI porodicu</div>
						</div>
						<div class="newsletter_form_container">
							<form action="#" class="newsletter_form d-flex flex-md-row flex-column align-items-start justify-content-between" id="newsletter_form">
								<div class="d-flex flex-md-row flex-column align-items-start justify-content-between">
									<div><input type="text" class="newsletter_input newsletter_input_name" id="newsletter_input_name" placeholder="Ime" required="required"><div class="input_border"></div></div>
									<div><input type="email" class="newsletter_input newsletter_input_email" id="newsletter_input_email" placeholder="Vaš E-Mail" required="required"><div class="input_border"></div></div>
								</div>
								<div><button class="newsletter_button">Pretplati se</button></div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="row footer_contact_row">
				<div class="col-xl-10 offset-xl-1">
					<div class="row">

						<!-- Footer Contact Item -->
						<div class="col-xl-4 footer_contact_col">
							<div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center">
								<div class="footer_contact_icon"><img src="{% static 'images/video-call.png' %}" alt=""></div>
								<div class="footer_contact_title">Kontakt broj:</div>
								<div class="footer_contact_list">
									<ul>
										<li>066/58-00-140</li>
									</ul>
								</div>
							</div>
						</div>

						<!-- Footer Contact Item -->
						<div class="col-xl-4 footer_contact_col">
							<div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center">
								<div class="footer_contact_icon"><img src="{% static 'images/truck.png' %}" alt=""></div>
								<div class="footer_contact_title">Brza i pouzdana isporuka</div>
								<div class="footer_contact_list">
									<ul style="max-width:190px">	
									</ul>
								</div>
							</div>
						</div>

						<!-- Footer Contact Item -->
						<div class="col-xl-4 footer_contact_col">
							<div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center">
								<div class="footer_contact_icon"><img src="{% static 'images/smartphone.png' %}" alt=""></div>
								<div class="footer_contact_title">Pošaljite nam poruku</div>
								<div class="footer_contact_list">
									<ul>
										<li>nemanja.jevremovic@vsar.edu.rs</li>
										<li>sgigaming@gmail.com</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="col text-center"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script>  Sva prava drži SGI Gaming.doo <i class="fa fa-heart-o" aria-hidden="true"></i> 
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> </div>
	</footer>
</div>

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
<script src="{% static 'plugins/Isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'plugins/scrollTo/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>
</html>