{% extends "base.html" %}
{% block page_content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>

<style>
    body {
        background-image:url('https://preview.redd.it/rhllnippznm31.png?auto=webp&s=498aa85c6f114f18d130a960b8f05f280ad8b881')
    }
    
    div {
        position:absolute;
        top:40%;
        right:0;
        left:0;
        }
    </style>
</head>
<body>
    <div style="text-align:center;">
   <form action="login" method="post" >
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username"><br>
        <input type="password" name="password" placeholder="Sifra"><br>
        <input type="submit">

   </form></div>

   <div>
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
    </div>
</body>
</html> 
{% endblock %}